body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}



h1, h2 {
  color: #333;
}

a {
  text-decoration: none;
  color: #ff6347;
}

a:hover {
  color: #ffa07a;
}
