.navbar {
  background: linear-gradient(to top, #0b3d91, #000000);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; /* Aligne les éléments verticalement */
  color: white;
}

.navbar li {
  margin: 0 30px;
  display: flex;
  align-items: center; /* S'assure que le contenu est centré verticalement */
}

.navbar a {
  color: #9ee8f7;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
}

.navbar a:hover {
  text-shadow: 0px 0px 10px #ddf7fc;
}

.navbar-logo {
  width: 50px; 
  height: 50px;
  object-fit: contain; /* Garde les proportions du logo */
}

.logo {
  display: flex;
  align-items: center;
}
