.navbar {
  background: linear-gradient(to top, #0b3d91, #000000);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  display: flex; /* Utilise Flexbox pour centrer les éléments horizontalement */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
}

.logo {
  margin-right: 20px; /* Ajoute un espacement entre le logo et les éléments du menu */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centre les liens de navigation */
  align-items: center; /* Aligne les éléments verticalement */
  color: white;
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les espacements par défaut */
}

.navbar li {
  margin: 0 30px; /* Espacement entre les éléments de la liste */
  display: flex;
  align-items: center; 
}

.navbar a {
  color: #9ee8f7;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
}

.navbar a:hover {
  text-shadow: 0px 0px 10px #ddf7fc; /* Effet d'ombre lors du survol */
}

.navbar-logo {
  width: 50px; 
  height: 50px;
  object-fit: contain; /* Garde les proportions du logo */
}

@media (max-width: 1024px) {
  
  .navbar ul {
    padding-right: 40px; 
  }
  
  .navbar li {
    margin: 10px;  
  }
  
}
