.projects {
  padding: 100px 20px;
  background: linear-gradient(to top, #0b3d91, #000000);
  color: white;
  position: relative;
  overflow: hidden;
}

.projects-container {
  width: 80%;
  margin: 0 auto;
}

.projects-container p {
  font-size: 18px;
}

.projects h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 0 10px #00d4ff;
  text-align: left;
  border-bottom: 2px solid #00d4ff;
  padding-bottom: 10px;
}

.projects-grid, .projects-carousel {
  display: flex;
  justify-content: start;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

.projects-carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.scroll-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

.scroll-btn:hover {
  transform: scale(1.2);
}

.scroll-btn.left {
  position: absolute;
  left: 0;
}

.scroll-btn.right {
  position: absolute;
  right: 0;
}

.projects-carousel {
  display: flex;
  justify-content: start;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 40px;
}

.project-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card:hover {
  /* transform: scale(1.05); */
  transform: scale(1.08);
}

.project-card h3 {
  font-size: 1.5rem;
  color: #00d4ff;
}

.project-card p {
  font-size: 1rem;
  color: #ccc;
}

.project-card a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-shadow: 0 0 10px #00d4ff;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin-top: 15px; */
}

.btn-projet-web, .btn-projet-web-git {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-projet-web:hover, .btn-projet-web-git:hover {
  /* background-color: #949393; */
  background-color:#00d4ff;
}

.icon {
  font-size: 24px;
  color: #000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.modal-content p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
}

.modal-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.close:hover {
  color: rgb(255, 0, 0);
}

.modal h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000000;
  text-align: left;
  border-bottom: 2px solid #00d4ff;
  padding-bottom: 10px;
}

/* btn */
.digital-project-btn {
  background-color: #f0f0f0;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.digital-project-btn:hover {
  background-color: #00d4ff;
  /* color: #ffffff; */
  transform: scale(1.1);
}

.digital-project-btn:focus {
  outline: none;
}


/* Conteneur des boutons de filtre */
.filter-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap; /* Pour s'assurer que les boutons se réorganisent sur les petits écrans */
}

/* Style des boutons de filtre */
.filter-btn {
  background-color: #00d4ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  flex-grow: 0; /* Assure-toi que les boutons ne s'étendent pas de manière disproportionnée */
  min-width: 120px; /* Fixe une taille minimale */
}

/* Effet au survol des boutons */
.filter-btn:hover {
  background-color: #009dbf;
  transform: scale(1.1);
}

/* Effet au focus (pour l'accessibilité) */
.filter-btn:focus {
  outline: none;
  box-shadow: 0 0 5px #00d4ff;
}

/* Media queries */
@media (max-width: 1024px) {
  .projects-container p {
    font-size: 16px;
  }

  .modal-image {
    width: 100%;
    height: auto;
  }

  .project-card {
    width: 180px;
    padding: 15px;
  }

  .digital-project-btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .btn-projet-web, .btn-projet-web-git {
    width: 40px; /* Réduire la taille des boutons sur les tablettes */
    height: 40px;
  }

  .icon {
    font-size: 20px; /* Réduire la taille des icônes */
  }

  .filter-btn {
    font-size: 0.95rem;
    padding: 9px 18px;
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 150px;
    padding: 10px;
  }

  .projects-grid, .projects-carousel {
    gap: 15px;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-card p {
    font-size: 0.9rem;
  }

  .digital-project-btn {
    padding: 7px 14px;
    font-size: 0.85rem;
  }

  .btn-projet-web, .btn-projet-web-git {
    width: 35px;  /* Réduire la taille des boutons pour les écrans moyens */
    height: 35px;
  }

  .icon {
    font-size: 18px; /* Réduire encore la taille des icônes */
  }

  .filter-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

}

@media (max-width: 480px) {
  .project-card {
    width: 120px;
    padding: 8px;
  }

  .projects-container p {
    font-size: 14px;
  }

  .project-card h3 {
    font-size: 1rem;
  }

  .project-card p {
    font-size: 0.8rem;
  }

  .projects h2 {
    font-size: 1.8rem;
  }

  .digital-project-btn {
    padding: 6px 12px;
    font-size: 0.75rem;
  }

  .btn-projet-web, .btn-projet-web-git {
    width: 30px; /* Réduire la taille pour les petits écrans (smartphones) */
    height: 30px;
  }

  .icon {
    font-size: 16px; /* Diminuer encore la taille des icônes */
  }

  .filter-btn {
    font-size: 0.8rem;
    padding: 7px 14px;
  }
}
