.about-section {
  height: 80vh;
  background: linear-gradient(to top, #0b3d91, #000000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
  text-align: center;
}

.about-section h2 {
  color: #9ee8f7;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  color: #dddddd;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.about-content strong {
  color: rgb(158, 232, 247); /* Pour accentuer les mots-clés */
}

.about-content a {
  color: rgb(158, 232, 247); /* Pour accentuer les mots-clés */
}

.about-content img {
  width: 150px;
  height: 150px;
  /* filter: brightness(1.5); */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); */
}



@media (max-width: 1024px) {
  .about-section {
    height: auto;
    padding: 20px;
  }

  .about-section h2 {
    font-size: 28px;
  }

  .about-content p {
    font-size: 16px;
    padding: 0 10px;
  }
}
